table_prefix=data_3_
xxx=version_products
yyy=version_product

core_data=product_uuid="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'This uuid reference product_uuid in the view view_all_products'"
core_data=product_name_overwrite="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'The name of the product as we want it to be displayed on the STACK marketplace'"
core_data=product_description_overwrite="TEXT COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'The description of the product as we want it to be displayed on the STACK marketplace'"
core_data=product_sku_code_overwrite="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'MOVE product code'"
core_data=face_value_overwrite="DECIMAL(10,2) DEFAULT NULL COMMENT 'the face value of the voucher as we want it to be displayed in the client marketplace'"
core_data=selling_price_overwrite="DECIMAL(10,2) DEFAULT NULL COMMENT 'the price that Option Gift will use to invoice the client each time the product is ordered by the client marketplace user'"
core_data=quantity="INT DEFAULT NULL COMMENT 'quantity available for the client catalog'"
core_data=min_quantity_alert="INT DEFAULT NULL COMMENT 'The threshold to receive an alert from the client marketplace'"
core_data=publish_start_date="DATE DEFAULT NULL COMMENT 'Date to start publishing on the client marketplace.'"
core_data=publish_end_date="DATE DEFAULT NULL COMMENT 'Date to end publishing on the client marketplace'"
core_data=tnc_overwrite="TEXT COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'the terms and conditions associated to this product as we want to see them on the client marketplace'"
core_data=order_number="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'the MOVE order number that needs to be used by the client marketplace when an API call is made to issue a voucher based on this product.'"
core_data=redeem_on="DATE DEFAULT NULL COMMENT ''"
core_data=redemption_validity="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT ''"
core_data=how_to_use="TEXT COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT ''"
core_data=faq_url="VARCHAR(1083) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'URL to an FAQ section about that product.'"
core_data=subtitle="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'The subtitle of this product in the client marketplace'"
core_data=tender_mode="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT ''"
core_data=merchant_link_url="VARCHAR(1083) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'URL to information about the merchant in the client marketplace'"
core_data=allow_oversell="TINYINT(1) DEFAULT '0' COMMENT 'Is it possible to sell more than the maximum quantity in the client marketplace'"
core_data=product_image_overwrite_url="VARCHAR(1083) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'URL to overwrite product image coming from the product catalog'"
core_data=valid_period_issuance="INT DEFAULT NULL COMMENT 'How long the voucher will be valid in months when it is issued to recipients? Value to put in is 1-12 months.'"

foreign_key_data=version_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'This is the FK to the the table data_2_client_catalog_versions'"=data_2_client_catalog_versions=uuid
