table_prefix=data_4_
xxx=point_of_sales
yyy=point_of_sale

core_data=external_pos_code="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NULL COMMENT 'The code for that pos in the merchant system. This could be migrated to the external systems table.'"

foreign_key_data=store_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'This is the uuid of the store in the table `data_3_stores`'"=data_3_stores=uuid
