table_prefix=data_2_
xxx=contracts
yyy=contract

core_data=contract_detail="TEXT COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'This is the details of the contract.'"
core_data=contract_url="VARCHAR(1083) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'This is the URL to the contract.'"
core_data=contract_signed_date="DATE DEFAULT NULL COMMENT 'This is the date on which the contract is signed.'"
core_data=contract_start="DATE DEFAULT NULL COMMENT 'Start date of the contract'"
core_data=contract_end="DATE DEFAULT NULL COMMENT 'End date of the contract'"
core_data=discount_percent="DECIMAL(15,4) DEFAULT NULL COMMENT 'This is the discount amount that we apply on all the catalogs that this customer has access to, in percent of catalog list price.'"
core_data=auto_create_bau="TINYINT(1) DEFAULT NULL COMMENT 'This is checked if the subsequent layers of program, catalog, catalog version, list of client products are created automatically.'"
core_data=preconfigured_catalogue_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'These are hardcoded preconfigured catalogues in Phprunner. To be upgraded to FK in the future.'"
core_data=is_not_flow_through="TINYINT(1) COLLATE utf8mb4_unicode_520_ci DEFAULT 0 COMMENT 'This is checked if the account manager DO NOT want the products that have been added to or removed from the baseline catalog to automatically be added to or removed from the catalog for the client.'"
core_data=catalog_manager_email="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'The email of the catalog manager.'"

foreign_key_data=client_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'This is the FK to the client in data_1_clients'"=data_1_clients=uuid
foreign_key_data=business_model_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'This is the FK to the business_model in list_business_models'"=list_business_models=uuid
foreign_key_data=payment_term_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'This is the FK to the payment_term in list_payment_terms'"=list_payment_terms=uuid
foreign_key_data=integration_mechanism_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'A FK to the table list_integration_mechanisms.'"=list_integration_mechanisms=uuid
