table_prefix=data_1_
xxx=clients
yyy=client

core_data=is_financial_institution="TINYINT(1) NOT NULL COMMENT '0 is the client is not a financial institution. 1 if the client is a financial institution.'"
core_data=risk_profile_latest_assesment_date="DATE DEFAULT NULL COMMENT 'The date on which the client risk profile assesment is done.'"
core_data=discount_percent="DECIMAL(10,2) DEFAULT NULL COMMENT 'The discount given to the client, in fraction of 1.'"
core_data=government_id="VARCHAR(255) DEFAULT NULL COMMENT 'The official government ID of this client'"
core_data=address="TEXT DEFAULT NULL COMMENT 'The registered address of the client'"

foreign_key_data=government_id_type="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'A FK to the table list_government_id_types'"=list_government_id_types=uuid

foreign_key_data=financial_institution_type_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'A FK to the table list_financial_institution_types'"=list_financial_institution_types=uuid
foreign_key_data=entity_type_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'A FK to the table list_entity_types'"=list_entity_types=uuid
foreign_key_data=country_of_incorporation_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'One of the value in the table list_country_codes. The ISO accepted 3 letter code for the country where the client has been incorporated.'"=list_country_codes=uuid
foreign_key_data=client_risk_profile_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci NOT NULL COMMENT 'A FK to the table list_client_risk_profiles. The risk profile that we have assigned to this company.'"=list_client_risk_profiles=uuid
foreign_key_data=integration_mechanism_id="VARCHAR(255) COLLATE utf8mb4_unicode_520_ci DEFAULT NULL COMMENT 'A FK to the table list_integration_mechanisms.'"=list_integration_mechanisms=uuid
